<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!--
		<environments>: 设置连接数据库的环境
		default: 设置默认使用的数据库环境
	-->
	<environments default="development">
	
		<!-- 
			<environment>: 设置某个数据库的环境
			id: 数据库环境的唯一标识
		-->
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/ssm?characterEncoding=latin1" />
				<property name="username" value="springstudent" />
				<property name="password" value="springstudent" />
			</dataSource>
		</environment>
	</environments>

	<!-- 引入映射文件 --> 
	<mappers>
		<mapper resource="UserMapper.xml" />
	</mappers>
</configuration>
