<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.dragontalker.mapper.EmpSelectMapper">

	<select id="getEmpByEid" resultType="com.dragontalker.bean.Emp">
		select * from emp where eid = #{eid}
	</select>
	
	<select id="getCount" resultType="Integer">
		select count(eid) from emp
	</select>
	
</mapper>

