<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.dragontalker.mapper.EmpMapper">

	<!-- List<Emp> getEmpListByMoreTJ(Emp emp); -->
	<!-- 多条件查询: 若页面中没有设置此条件, SQL语句中一定不能有该条件 -->
	<select id="getEmpListByMoreTJ" resultType="Emp">
		select eid, ename, age, sex, did from emp 
		where
		eid = #{eid}
		and ename = #{ename}
		and age = #{age}
		and sex = #{sex}
	</select>
	
</mapper>