<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.dragontalker.mapper.EmpMapper">

	<!-- 
		<if test=""></if>: 通过test表达式, 拼接SQL
	 -->

	<!-- List<Emp> getEmpListByMoreTJ(Emp emp); -->
	<!-- 多条件查询: 若页面中没有设置此条件, SQL语句中一定不能有该条件 -->
	<select id="getEmpListByMoreTJ" resultType="Emp">
		select eid, ename, age, sex, did from emp 
		<where>
			<if test="eid != null">
				eid = #{eid}
			</if>
			<if test="ename != null and ename !=''">
				ename = #{ename}
			</if>
			<if test="age != null">
				age = #{age}
			</if>
			<if test="sex == '1' or sex == '0'">
				sex = #{sex}
			</if>
		</where>
		
	</select>
	
</mapper>